Makefile
Makefile.in
config.cache
config.guess
config.log
config.status
config.sub
depcomp
install-sh
missing
mkinstalldirs
*.o
*.a
test/scribe.test.*
test/scribed.out.*
autom4te.cache
configure
Makefile.in
aclocal.m4
autom4te.cache

